<div class="icon-bar six-up">

  <a class="item" href="/">
    <i class="fa fa-home"></i>
    <label>Home</label>
  </a>

  <a class="item" href="/mentions">
    <i class="fa fa-quote-right"></i>
    <label>Mentions</label>
  </a>

  <a class="item" href="/favourites">
    <i class="fa fa-star"></i>
    <label>Favourites</label>
  </a>

  <a class="item" href="/messages">
    <i class="fa fa-envelope"></i>
    <label>Direct Messages</label>
  </a>

  <a class="item" href="/trends">
    <i class="fa fa-line-chart"></i>
    <label>Trends</label>
  </a>

  <a class="item" href="/search">
    <i class="fa fa-search"></i>
    <label>Search</label>
  </a>

</div>
