<div class="tweet mb">

  <p><%= render_tweet_content(tweet) %></p>

  <div class="tweet__meta">

    <p>
      <i class="fa fa-star"></i>
      <%= tweet.favorite_count %>

      &nbsp;

      <i class="fa fa-retweet"></i>
      <%= tweet.retweet_count %>

      &nbsp;

      <%= format_date(tweet.created_at) %>
    </p>

  </div>

</div>
