<!DOCTYPE html>
<html>
<head>
  <title><%= ENV['APP_NAME'] %></title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/application.css">
</head>
<body>

  <%= erb(:"shared/nav") %>

  <div class="p">

    <%= yield %>

  </div>

  <%= erb(:"shared/footer") %>

</body>
</html>
